#input{
    border: 2px solid;
    padding: 4px;
    border-color: #3b4145;
  }
  input{
    margin: 4px;
  }
  body{
    background-color: AliceBlue;
  }
  .button{
    background-color: white;
    border: 2px dotted;
  }
  #movieList{
    background-color: #ffe6e7;
    border: 2px solid;
    border-color: rgb(221, 213, 213);
  }